<%= render partial:'shared/navbar' %>
<h1>My Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="recipe-card">
    <h2><%= recipe.name %></h2>
    <p><strong>Preparation Time:</strong> <%= recipe.preparation_time %> minutes</p>
    <p><strong>Cooking Time:</strong> <%= recipe.cooking_time %> minutes</p>
    <p><strong>Description:</strong> <%= recipe.description %></p>
    <p><strong>Public:</strong> <%= recipe.public ? 'Yes' : 'No' %></p>
    <div class="recipe-actions">
      <%= link_to 'View Recipe', recipe, class: 'action-button' %>
      <%= link_to 'Edit Recipe', edit_recipe_path(recipe), class: 'action-button' %>
      <%= link_to 'Delete Recipe', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action-button' %>
    </div>
  </div>
<% end %>
